<!DOCTYPE html>
<html>
<head>
    <title>ClinicCare-Lite Registration</title>
    <head>
    <title>ClinicCare-Lite Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
</head>

<body>

    <h1>ClinicCare-Lite</h1>
    <h2>Create Account</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="POST">

        <label>Role:</label>
        <select name="role" required>
            <option value="">Select role</option>
            <option value="patient">Patient</option>
            <option value="clinician">Clinician</option>
        </select>

        <br><br>

        <label>User ID:</label>
        <input type="text" name="user_id" required>

        <br><br>

        <label>Full Name:</label>
        <input type="text" name="full_name" required>

        <br><br>

        <label>Email:</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Register</button>

    </form>

    <p>
        Already have an account?
        <a href="/login">Login</a>
    </p>

</body>
</html>